.date {
  grid-area: date;
}
.menu{

  grid-area: menu;
  justify-self: end;
  align-self: start;
}
.usermenu{

  grid-area: menu;
  justify-self: end;
  align-self: start;
}

.card{
  height:300px;
  width:275px;
}

.type{

  grid-area: type;
  height:48px !important;
  width:48px !important;
  font-size:48px !important;}

.domain {
  grid-area: domain;
  font-size:24px;
}

.owner {
  display: inline-block;
  grid-area: owner;
  font-size:10px;
}

.username {
  grid-area: username;
}
.password {
  grid-area: password;
}


.credential-card {
  align-self: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 30px;
  grid-template-areas:
    "domain domain domain domain menu"
    "owner owner owner owner owner"
    "username username username username username"
    "password password password password password"
    "delete . . . .";
}



