
<div class="card">
<mat-card class="credential-card">




  <div class="domain" >{{credential.domain}}</div>
  <div class="owner" *ngIf="credential.access == null" >Owner: {{credential.owner}}</div>

  <div class="username" >
    <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput readonly value = "{{credential.username}}" type="string" >
  </mat-form-field>
  </div>

  <div class="password" >

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput readonly id="{{credential.password}}" value="{{credential.password}}" type="password" (click)="showPassword(credential.password)">
    </mat-form-field>
  </div>

  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="credential.access != null" mat-menu-item [routerLink]="['edit']" [state] = credential >

        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="delete(credential)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button  *ngIf="credential.access != null" mat-menu-item [matMenuTriggerFor]="usermenu">
        <mat-icon>share</mat-icon>
        <span>Share</span>
        <div class="usermenu">
          <mat-menu #usermenu="matMenu">
            <button  mat-menu-item *ngFor="let user of getShareable()"    value = "{{updateButtons(user)}}" id = "{{user}}" (click) = "share(user, credential)">
              <!--<p> {{updateColor(user)}} </p>-->
              <span >{{user}}</span>
              <mat-icon *ngIf="updateButtons(user) == 1">check</mat-icon>
            </button>
          </mat-menu>

        </div>
      </button>
    </mat-menu>
  </div>

</mat-card>
</div>
